body {
  background-color: #212121;
}

h1 {
  font-size: 70px;
  color: white;
}

h2 {
  color: white;
}

.form-group {
  text-align: center;
}

input {
  background-color: black;
  color: white;
}

p.resizeimage img {
  width: 100%;
}

video {
  width: 95%;
  height: 95%;
  margin-top: 30px;
}

.video-container {
  text-align: center;
}

.video_area {
  position: relative;
  background-color: #424242;
  border-radius: 10px;
  margin-bottom: 10px;
}

  .video_area span {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    color: white;
    z-index: 998;
    font-size: 20px;
  }

.name_list {
  color: white;
  background-color: #424242;
}


.form {
  color: white;
  display: inline;
  border-style: none none solid;
  border-color: #01579B;
  background-color: #212121;
  position: absolute;
  text-align: center;
}
